:root {
    --soft-white-bg: #f9fafb;
    --dark-blue: #070d19;
    --lighter-blue: #1e2931;
    --light-grey: rgb(189, 189, 189);
    --muted-grey: #4d5a67;
    --light-blue: #6eabdb;
    --sea-green: #309191;
    --main-font: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --secondary-font: 'Bebas Neue', 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: #131314;
}

nav {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 80px;

    box-shadow:
        0.6px 2.8px 2.2px rgba(0, 0, 0, 0.081),
        1.5px 6.7px 5.3px rgba(0, 0, 0, 0.103),
        2.8px 12.5px 10px rgba(0, 0, 0, 0.112),
        4.9px 22.3px 17.9px rgba(0, 0, 0, 0.115),
        9.2px 41.8px 33.4px rgba(0, 0, 0, 0.111),
        22px 100px 80px rgba(0, 0, 0, 0.1);
    background-color: #1a1c20;
}

.nav-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

.nav-container a {
    text-decoration: none;
}

nav span:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

nav span:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.new-book {
    color: white;
    background-color: #2a2e35;
    padding: .5rem 3rem;
    border-radius: .375rem;
    border: 1px solid #43484e;
}

.new-book:hover {
    background-color: var(--sea-green);
    border: 2px solid #2f3136;
}

.main-container {
    display: grid;
    place-items: center
}

.books-container {
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-template-rows: 500px;
    margin: 5rem;

    width: 85vw;

    box-shadow:
        0.6px 2.8px 2.2px rgba(0, 0, 0, 0.081),
        1.5px 6.7px 5.3px rgba(0, 0, 0, 0.103),
        2.8px 12.5px 10px rgba(0, 0, 0, 0.112),
        4.9px 22.3px 17.9px rgba(0, 0, 0, 0.115),
        9.2px 41.8px 33.4px rgba(0, 0, 0, 0.111),
        22px 100px 80px rgba(0, 0, 0, 0.1);
}

.book {
    display: grid;
    align-items: end;
    justify-content: start;
    grid-template-rows: 1fr repeat(3, auto);

    padding: 2rem;
    padding-top: 15rem;
    background-color: black;
    background-image: url(/_images/icons8-books-100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 1rem;

    color: white;

    position: relative;
    isolation: isolate;
}

#cthulhu {
    background-image: url(/_images/cthulhu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#alice {
    background-image: url(/_images/alice-wonderland.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#cristo {
    background-image: url(/_images/count-of-montecristo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#war {
    background-image: url(/_images/jie-hua-yan-011.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}


.book::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.06%, #000000 79.69%);
    border-radius: 1rem;
}

.book-card__title {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.book-card__details {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: .875rem;
}

.book-card__read-btn {
    margin: .5rem .5rem .5rem 0;
    padding: .5rem 2rem;
    background-color: var(--sea-green);
    border: none;

    font-size: .875rem;
    font-weight: 700;
    color: white;
}

.book-card__remove-btn {
    padding: .5rem 2rem;
    background-color: var(--sea-green);
    border: none;

    font-size: .875rem;
    font-weight: 700;
    color: white;
}

.book span {
    font-weight: 600;
}

#add-new-book {
    width: 300px;
    padding: 1rem;
    background-color: #1a1c20;
    border: 1px solid #222427;

    border-radius: .5rem;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
}

/* #add-new-book {
    width: 300px;
    padding: 1rem;
    background-color: white;
    border: 1px solid #eeeeef;

    border-radius: .25rem;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
} */

#add-new-book div label {
    /* color: #5f5f5f; */
    /* color: #6c7079; */
    color: #e2e2e2;
}

#add-new-book input[type='text'],
#add-new-book input[type='number'] {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    /* background-color: #fafafa; */
    background-color: #2a2e35;
    border: 1px solid #222427;

    color: #fafafa;
    font-size: .925rem;
    font-weight: 600;

    border-radius: .25rem;
}

#add-new-book h2 {
    margin-bottom: 1rem;

    color: #6c7079;

    font-size: 1.125rem;
    font-weight: 600;
}

#add-new-book input::placeholder {
    color: #757575;
}

.submit-button {
    margin-top: 1rem;
    padding: .375rem 1rem;
    background-color: lightseagreen;
    border: none;

    color: white;

    border-radius: .25rem;
}

.title {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);

}

.toggle-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    grid-auto-flow: column;
    gap: .5rem
}

.toggle-container span {
    color: #5f5f5f;
}

.toggle {
    --width: 35px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    /* background: #dddddd; */
    background-color: #2a2e35;
    transition: background 0.2s;
}

.toggle__input:checked~.toggle__fill {
    background-color: lightseagreen;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill::after {
    transform: translateX(var(--height));
}

dialog {
    margin: auto;
    padding: 0;
    border: none;
    background: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.close-btn {
    position: absolute;

    top: 8px;
    right: 16px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    
    font-size: 2rem;
    color: #5f5f5f;
}

.close-btn:hover {
    color: white;
    transform: scale(1.125);
}