:root {
    --soft-white-bg: #f9fafb;
    --dark-blue: #070d19;
    --lighter-blue: #1e2931;
    --light-grey: rgb(189, 189, 189);
    --muted-grey: #4d5a67;
    --light-blue: #6eabdb;
    --sea-green: #309191;
    --main-font: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --secondary-font: 'Bebas Neue', 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: var(--main-font);
    /* background-color: #f4f4f4; */
    background-color: #0A0A0A;
}

.main-container {
    display: grid;
    place-items: center
}

.books-container {
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-template-rows: 500px;

    width: 85vw;
}

.book {
    display: grid;
    align-items: end;
    justify-content: start;
    grid-template-rows: 1fr repeat(3, auto);
    
    padding: 2rem;
    padding-top: 15rem;
    background-color: black;
    background-image: url(/_images/icons8-books-100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 1rem;

    color: white;

    position: relative;
    isolation: isolate;
}

#cthulhu {
    background-image: url(/_images/cthulhu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#alice {
    background-image: url(/_images/alice-wonderland.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#cristo {
    background-image: url(/_images/count-of-montecristo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}

#war {
    background-image: url(/_images/jie-hua-yan-011.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

    position: relative;
    isolation: isolate;
}


.book::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.06%, #000000 79.69%);
    border-radius: 1rem;
}

.book-card__title {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.book-card__details {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: .675rem;
}

.book-card__read-btn {
    margin: .5rem .5rem .5rem 0;
    padding: .5rem 2rem;
    background-color: var(--sea-green);
    border: none;

    font-size: .875rem;
    font-weight: 700;
    color: white;
}

.book-card__remove-btn {
    /* margin: .5rem .5rem .5rem 0; */
    padding: .5rem 2rem;
    background-color: var(--sea-green);
    border: none;

    font-size: .875rem;
    font-weight: 700;
    color: white;
}

.book span {
    font-weight: 600;
}

#add-new-book {
    width: 300px;
    max-width: 30%;
    padding: 1rem;
    background-color: white;
    border: 1px solid #eeeeef;

    border-radius: .25rem;

    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
}

#add-new-book div label {
    color: #5f5f5f;
}

#add-new-book input[type='text'],
#add-new-book input[type='number'] {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #fafafa;
    border: 2px solid #eeeeef;

    font-size: .875rem;
    font-weight: 500;

    border-radius: .25rem;
}

#add-new-book h2 {
    margin-bottom: 1rem;

    color: #5f5f5f;

    font-size: 1.125rem;
    font-weight: 600;
}

#add-new-book button {
    margin-top: 1rem;
    padding: .375rem 1rem;
    border: 1px solid #eeeeef;
    background-color: lightseagreen;

    color: white;

    border-radius: .25rem;
}

#add-new-book input::placeholder {
    color: #757575;
}

.toggle-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    grid-auto-flow: column;
    gap: .5rem
}

.toggle-container span {
    color: #5f5f5f;
}

.toggle {
    --width: 35px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
  
    display: inline-block;
    cursor: pointer;
  }
  
  .toggle__input {
    display: none;
  }
  
  .toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill {
    background: var(--sea-green);
  }
  
  .toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
  }


#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease;
}